.header__account-item {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  margin: 10px 0 0 24px;
  padding: 0;
}


@media screen and (min-width: 480px) {
	

	
}


@media screen and (min-width: 918px) {



}

