@import url(./__logo/header__logo.css);
@import url(./__account-menu/header__account-menu.css);
@import url(./__account-item/header__account-item.css);
@import url(./__account-item/_logout/header__account-item_logout.css);


.header {
	margin: 28px 0 0 0;
	padding: 0 30px;
	height: 56px;
  border-bottom: 1px solid rgb(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
}


@media screen and (min-width: 480px) {
	
	.header {
		margin: 28px 30px 0 30px; /* instead of auto margins on side, this keeps some space on either side at medium resolutions */
		padding: 0;
	}
	
}


@media screen and (min-width: 918px) {

	.header {
		margin: 45px 20px 0 20px;
		height: 74px;
	}

}

